<nav class="navbar navbar-expand-lg navbar-light " style="column-gap:1050px;padding-left: 30px;background-color: rgb(48, 50, 50);">
  <a class="navbar-brand" routerLink="" style="font-size:xx-large;">♾️</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">HOME </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="page">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      
    </ul>
  </div>
</nav>