<div style="background-color: black;">
    <div class="container text-center" style="background-color: black; margin-top: 40px;padding: 30px;">
  <div class="row">
    <div class="col">
        <img class="sale-img" src="https://templates.simplified.co/thumb/4b4eb011-8d15-4da1-902a-dc0c776cbd86.jpg" height="500px" width="600px">

    </div>
    
    <div class="col">
     <H2 class="sale-text" style="color: aliceblue; padding-top: 200px;">
  <i > 30 % </i>
  <i style="color: rgb(221, 228, 15);"> 𝙎𝙐𝙋𝙀𝙍 𝙎𝘼𝙇𝙀 </i>
</H2>
<a routerLink="page">
<button type="button" class="btn btn-outline-warning sale-btn">
  CLICK HERE
</button>
</a>
  
  </div>
</div>
</div>

