.text-animate {
  opacity: 0;
  animation: fadeSlideUp 1.2s ease forwards;
}

.title-animate {
  animation: zoomIn 1s ease forwards;
}

.subtitle-animate {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 1s;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 3;
  }
}
