/* You can add global styles to this file, and also import other style files */
/* body {
  background-image: url('https://www.purseblog.com/images/2020/03/IMG_6262-Edit.jpg?utm_source=chatgpt.com');
  background-repeat: no-repeat;
  background: size 50%;
  background-position: center;
} */
