.fade-slide {
  opacity: 0;
  animation: fadeSlideUp 1s ease forwards;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 15px 30px rgba(24, 106, 184, 0.81);
}
